@import "tailwindcss";

.sidebar-scroll::-webkit-scrollbar {
    width: 5px;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: rgba(30, 27, 75, 0.5);
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
}